<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.project.category.CategoryMapper">

	<!-- 增 [G] -->
	<insert id="add">
		insert into 
		category (id, name) 
		values (#{id}, #{name}) 
	</insert>

	<!-- 删 -->
	<delete id="delete">
		delete from category 
		where id = #{id}
	</delete>

	<!-- 改 [G] -->
	<update id="update">
		update category set
		id = #{id}, 
		name = #{name}
		where id = #{id}
	</update>


	<!-- ================================== 查询相关 ================================== -->
	<!-- select id, name from category  -->
	
	<!-- 通用映射：手动模式 -->
	<resultMap id="model" type="com.pj.project.category.Category">
		<result property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>
	
	<!-- 公共查询sql片段 -->
	<sql id="select_sql">
		select * 
		from category 
	</sql>
	
	<!-- 查 - 根据id -->
	<select id="getById" resultMap="model">
		<include refid="select_sql"></include>
		where id = #{id}
	</select>
	
	<!-- 查集合 - 根据条件（参数为空时代表忽略指定条件） [G] -->
	<select id="getList" resultMap="model">
		<include refid="select_sql"></include>
		<where>
			<if test=' this.has("id") '> and id = #{id} </if>
			<if test=' this.has("name") '> and name = #{name} </if>
		</where>
		order by
		<choose>
			<when test='sortType == 1'> id  </when>
			<when test='sortType == 2'> name </when>
			<otherwise> id  </otherwise>
		</choose>
	</select>
	
	
	
	
	
	
	
	
	

</mapper>
