<!DOCTYPE html>
<html>
	<head>
		<title>Orders-添加/修改</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- 所有的 css js 资源 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../../static/sa.css">
		<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
		<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
		<script src="https://unpkg.com/http-vue-loader@1.4.2/src/httpVueLoader.js"></script>
		<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
		<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
		<script src="../../static/sa.js"></script>
		<style type="text/css">
			.c-panel .el-form .c-label{width: 7em !important;}
			.c-panel .el-form .el-input, .c-panel .el-form .el-textarea__inner{width: 250px;}
		</style>
	</head>
	<body>
		<div class="vue-box" :class="{sbot: id}" style="display: none;" :style="'display: block;'">
			<!-- ------- 内容部分 ------- -->
			<div class="s-body">
				<div class="c-panel">
                    <div class="c-title" v-if="id == 0">Add Data</div>
					<div class="c-title" v-else>Modify Data</div>
					<el-form v-if="m">
						<!-- no字段： m.id - id -->
						<sa-item type="num" name="ownerId" v-model="m.ownerId" br></sa-item>
						<sa-item type="num" name="buyerId" v-model="m.buyerId" br></sa-item>
						<sa-item type="num" name="goodId" v-model="m.goodId" br></sa-item>
						<sa-item name="" class="s-ok" br>
							<el-button type="primary" icon="el-icon-plus" @click="ok()">Save</el-button>
						</sa-item>
					</el-form>
				</div>
			</div>
			<!-- ------- 底部按钮 ------- -->
			<div class="s-foot">
				<el-button type="primary" @click="ok()">Confirm</el-button>
				<el-button @click="sa.closeCurrIframe()">Cancel</el-button>
			</div>
		</div>
        <script>
			
			var app = new Vue({
				components: {
					"sa-item": httpVueLoader('../../sa-frame/com/sa-item.vue')
				},
				el: '.vue-box',
				data: {
					id: sa.p('id', 0),		// 获取超链接中的id参数（0=添加，非0=修改） 
					m: null,		// 实体对象 
				},
				methods: {
					// 创建一个 默认Model 
					createModel: function() {
						return {
							// id: '',		// id 
							ownerId: '',		// ownerId 
							buyerId: '',		// buyerId 
							goodId: '',		// goodId 
						}
					},
					// 提交数据 
					ok: function(){
						// 表单校验 
						let m = this.m;
						// sa.checkNull(m.id, '请输入 [id]');
						sa.checkNull(m.ownerId, 'Please input [ownerId]');
						sa.checkNull(m.buyerId, 'Please input [buyerId]');
						sa.checkNull(m.goodId, 'Please input [goodId]');
				
						// 开始增加或修改
						if(this.id <= 0) {	// 添加
							sa.ajax('/Orders/add', m, function(res){
								sa.alert('Add Success', this.clean); 
							}.bind(this));
						} else {	// 修改
							sa.ajax('/Orders/update', m, function(res){
								sa.alert('Modify Success', this.clean);
							}.bind(this));
						}
					},
					// 添加/修改 完成后的动作
					clean: function() {
						if(this.id == 0) {
							this.m = this.createModel();
						} else {
							parent.app.f5();		// 刷新父页面列表
							sa.closeCurrIframe();	// 关闭本页 
						}
					}
				},
				mounted: function(){
					// 初始化数据 
					if(this.id <= 0) {	
						this.m = this.createModel();
					} else {	
						sa.ajax('/Orders/getById?id=' + this.id, function(res) {
							this.m = res.data;
							if(res.data == null) {
								sa.alert('Cannot Find id=' + this.id + " Data");
							}
						}.bind(this))
					}
				}
			})
			
		</script>
	</body>
</html>